<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Document</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content=""/>
    <meta name="og:title" content="">
    <meta name="og:description" content="">
    <meta name="keywords" content=""/>

    <link rel="icon" type="image/x-icon" href="">

    <link rel="stylesheet" href="../src/styles/main.css">
    <link rel="stylesheet" href="../src/styles/libraries/swiper.min.css"/>
</head>

<body>
    
    <header></header>
    
    <main>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->
        
        <!-- <form>
            <label for="search1">
                <input type="text" 
                    class="__search__input"
                    id="search1"
                    data-query="s"
                >
            </label>
        </form> -->

<!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->

        <!-- <label for="pagination1">
            <input type="radio" 
                name=""
                data-value="1"
                id="pagination1"
                class="pagination__elem"
            >1
        </label>
        <label for="pagination2">
            <input type="radio" 
                name=""
                data-value="2"
                id="pagination2"
                class="pagination__elem"
            >2
        </label>
        <label for="pagination3">
            <input type="radio" 
                name=""
                data-value="3"
                id="pagination3"
                class="pagination__elem"
            >3
        </label>
        <label for="pagination4">
            <input type="radio" 
                name=""
                data-value="4"
                id="pagination4"
                class="pagination__elem"
            >4
        </label>
        <button class="__pagination__btn_cancel">
            Сбросить
        </button> -->

<!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->

        <!-- <label for="filter0">
            <input type="checkbox"
                id="filter0"
                data-value=""
                data-query="filter"
                class="__filter__elem"
            >ФИЛЬТРАЦИЯ
        </label>
        <label for="filter1">
            <input type="checkbox"
                id="filter1"
                data-value="2"
                data-query="filter"
                class="__filter__elem"
            >ФИЛЬТРАЦИЯ
        </label>
        <label for="filter2">
            <input type="checkbox"
                id="filter2"
                data-value="3131"
                data-query="filter"
                class="__filter__elem"
            >ФИЛЬТРАЦИЯ
        </label>
        <label for="filter3">
            <input type="checkbox"
                id="filter3"
                data-value="31313131"
                data-query="filter"
                class="__filter__elem"
            >ФИЛЬТРАЦИЯ
        </label>
        <button class="__filter__btn_confirm">
            Применить
        </button>
        <button class="__filter__btn_cancel">
            Сбросить
        </button> -->


<!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->

        <!-- <div class="dropdown-item">
            <a>Ваш текст
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 8L10 13L15 8" stroke="#1C1917" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <div class="dropdown-item__content">
                <a href="" class="dropdown-item__content__button">Кнопка</a>
                <hr>
                <a href="" class="dropdown-item__content__button">Кнопка</a>
                <hr>
                <a href="" class="dropdown-item__content__button">Кнопка</a>
                <hr>
                <a href="" class="dropdown-item__content__button">Кнопка</a>
                <hr>
                <a href="" class="dropdown-item__content__button">Кнопка</a>
                <hr>
            </div>
        </div> -->

<!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->
        
    </main>
    
    <footer></footer>
    
</body>

<script src="../src/scripts/libraries/IMask.min.js"></script>
<script src="../src/scripts/libraries/swiper.min.js"></script>
<script type="module" src="../src/scripts/app.js"></script>
</html>